<!--<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, inicial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../css/dg's.css"> -->
  <script>var whTooltips = {colorLinks: true, iconizeLinks: true, renameLinks: true};</script>
  <script src="https://wow.zamimg.com/widgets/power.js"></script>
  <title>Blackfathom Deeps</title>

 <section>

<div class="right_side">
   <div class="rs_top" id="blackfathom_map">
     
   </div>
   <div class="rs_bottom">
     <ol>            
        <li><span>Nome:</span> Blackfathom Deeps (Profundezas Negras)</li>
        <li><span>Nível:</span> 20 - 28</li>
        <li><span>Local:</span> Kalimdor, Vale Gris.</li>
     </ol>
   </div>

</div>  

<div class="body" id="blackfathom_bg">

    <ol>
      <li>Missões para fazer em Profundezas Negras.</li>
    </ol>

<div class="quests">
 <div class="quest_text">
 <ul>
  <li><span class="line1">[25] - <a href="https://pt.classic.wowhead.com/quest=6565/allegiance-to-the-old-gods" target="_blank">Allegiance to the Old Gods</a></span></li>  
  <li>A missão inicia com <a href="https://pt.classic.wowhead.com/npc=12736" target="_blank">Je'neu Sancrea</a> em Ashenvale.</li>
  <li>Chain: drop do item <a href="https://pt.classic.wowhead.com/item=16790/damp-note" target="_blank"></a>. npc: <a href="https://pt.classic.wowhead.com/npc=4802" target="_blank"></a>.</li>
 </ul>
</div>
<div class="horde_icon"></div>
</div> 

<div class="quests">
<div class="quest_text">	
 <ul>
  <li><span class="line1">[27] - [<a href="https://pt.classic.wowhead.com/quest=6921/amongst-the-ruins" target="_blank">Amongst the Ruins</a>]</span></li>
  <li>A missão inicia com <a href="https://pt.classic.wowhead.com/npc=12736" target="_blank">Je'neu Sancrea</a> em Ashenvale.</li>
 </ul>
</div>
<div class="horde_icon"></div>
</div>

<div class="quests">
<div class="quest_text">	
 <ul>
  <li><span class="line1">[27] - [<a href="https://pt.classic.wowhead.com/quest=1200/blackfathom-villainy" target="_blank">Blackfathom Villainy</a>]</span></li>
  <li>A missão inicia com <a href="https://pt.classic.wowhead.com/npc=4787" target="_blank">Argent Guard Thaelrid</a> dentro da DG.</li>
 </ul>
</div>
<div class="horde_alliance_icon"></div>
</div>

<div class="quests">
<div class="quest_text">	
 <ul>
  <li><span class="line1">[23] - [<a href="https://pt.classic.wowhead.com/quest=971/knowledge-in-the-deeps" target="_blank">Knowledge in the Deeps</a>]</span></li>
  <li>A missão inicia com <a href="https://pt.classic.wowhead.com/npc=2786" target="_blank">Gerrig Bonegrip</a> em Altaforja.</li>
 </ul>
</div>
<div class="alliance_icon"></div>
</div>

<div class="quests">
<div class="quest_text">	
 <ul>
  <li><span class="line1">[24] - [<a href="https://pt.classic.wowhead.com/quest=1275/researching-the-corruption" target="_blank">Researching the Corruption</a>]</span></li>
  <li>A missão inicia com <a href="https://pt.classic.wowhead.com/npc=8997" target="_blank">Gershala Nightwhisper</a> em Costa Negra.</li>
 </ul>
</div>
<div class="alliance_icon"></div>
</div>

<div class="quests">
<div class="quest_text">  
 <ul>
  <li><span class="line1">[22] - [<a href="https://pt.classic.wowhead.com/quest=6563/the-essence-of-akumai" target="_blank">The Essence of Aku'Mai</a>]</span></li>
  <li>A missão inicia com <a href="https://pt.classic.wowhead.com/npc=12736" target="_blank">Je'neu Sancrea</a> em Vale Gris.</li>
 </ul>
</div>
<div class="horde_icon"></div>
</div>

<div class="quests">
<div class="quest_text">  
 <ul>
  <li><span class="line1">[24] - [<a href="https://pt.classic.wowhead.com/quest=1199/twilight-falls" target="_blank">Twilight Falls</a>]</span></li>
  <li>A missão inicia com <a href="https://pt.classic.wowhead.com/npc=4784" target="_blank">Agent Guard Manados</a> em Darnasus.</li>
 </ul>
</div>
<div class="alliance_icon"></div>
</div>
</div>
</section>	

<!--
<%# content_for :css do %>

   section .right_side .rs_top{
    background: url("DG's/Maps/Kalimdor_dg_entries") 100% 100%/100% 100% no-repeat !important;
   }
   section .body{
    background: url("DG's/Blackfathom_Deeps_BG") 50% 50%/160% 180% no-repeat !important;
   }

<%# end %>
-->


<!--style>
   section .right_side .rs_top{
    background: url("DG's/Maps/Kalimdor_dg_entries") 100% 100%/100% 100% no-repeat !important;
   }
   section .body{
    background: url("DG's/Blackfathom_Deeps_BG") 50% 50%/160% 180% no-repeat !important;
   }
</style-->

