  <script>var whTooltips = {colorLinks: true, iconizeLinks: true, renameLinks: true};</script>
  <script src="https://wow.zamimg.com/widgets/power.js"></script>
  <title>Maraudon</title>

 <section>

<div class="right_side">
   <div class="rs_top" id="maraudon_map">
     
   </div>
   <div class="rs_bottom">
     <ol>            
        <li><span>Nome:</span>Maraudon</li>
        <li><span>Nível:</span> 42 - 51</li>
        <li><span>Local:</span> Kalimdor, Desolação.</li>
     </ol>
   </div>
</div>
<div class="body" id="maraudon_bg">
       <ol>            
          <li>Missões para fazer em: Maraudon.</li>            
       </ol>

<div class="quests">
 <div class="quest_text">
 <ul>
  <li><span class="line1">[42] - <a href="https://pt.classic.wowhead.com/quest=7070/fragmentos-de-lascanegra"></a></span></li>
  <li>A missão inicia com <a href="https://pt.classic.wowhead.com/npc=4967"></a> em Theramore para a aliança e com <a href="https://pt.classic.wowhead.com/npc=7311"></a> em Orgrimmar para a horda.</li>  
 </ul>
</div>
<div class="horde_alliance_icon"></div>
</div> 

<div class="quests">
<div class="quest_text">	
 <ul>
  <li><span class="line1">[47] - [<a href="https://pt.classic.wowhead.com/quest=7041/a-corrup%C3%A7%C3%A3o-de-torpel%C3%ADngua"></a>]</span></li>
  <li>A missão inicia com <a href="https://pt.classic.wowhead.com/npc=11715"></a> em Desolação para a aliança e com <a href="https://pt.classic.wowhead.com/npc=11823"></a> em Desolação para a horda.</li>  
 </ul>
</div>
<div class="horde_alliance_icon"></div>
</div>

<div class="quests">
<div class="quest_text">	
 <ul>
  <li><span class="line1">[51] - [<a href="https://pt.classic.wowhead.com/quest=7065/corrup%C3%A7%C3%A3o-da-terra-e-dos-gr%C3%A3os"></a>]</span></li>
  <li>A missão inicia com <a href="https://pt.classic.wowhead.com/npc=13698"></a> em Desolação para aliança e com <a href="https://pt.classic.wowhead.com/npc=13699"></a> em Desolação para a horda.</li>
 </ul>
</div>
<div class="horde_alliance_icon"></div>
</div>

<div class="quests">
<div class="quest_text">	
 <ul>
  <li><span class="line1">[47] - [<a href="https://pt.classic.wowhead.com/quest=7028/ra%C3%ADzes-do-mal"></a>]</span></li>
  <li>A missão inicia com <a href="https://pt.classic.wowhead.com/npc=13656"></a> em Desolação.</li>
 </ul>
</div>
<div class="horde_alliance_icon"></div>
</div>

<div class="quests">
<div class="quest_text">	
 <ul>
  <li><span class="line1">[48] - [<a href="https://pt.classic.wowhead.com/quest=7067/as-instru%C3%A7%C3%B5es-do-p%C3%A1ria"></a>]</span></li>
  <li>A missão inicia com <a href="https://pt.classic.wowhead.com/npc=13717"></a> em Desolação.</li>
 </ul>
</div>
<div class="horde_alliance_icon"></div>
</div>

<div class="quests">
<div class="quest_text">  
 <ul>
  <li><span class="line1">[49] - [<a href="https://pt.classic.wowhead.com/quest=7044/lendas-de-maraudon"></a>]</span></li>
  <li>A missão inicia com <a href="https://pt.classic.wowhead.com/npc=13697"></a> na porta da DG.</li>
 </ul>
</div>
<div class="horde_alliance_icon"></div>
</div>

<div class="quests">
<div class="quest_text">  
 <ul>
  <li><span class="line1">[49] - [<a href="https://pt.classic.wowhead.com/quest=7046/o-cetro-de-celebras"></a>]</span></li>
  <li>A missão inicia com <a href="https://pt.classic.wowhead.com/npc=13716"></a> dentro da DG.</li>
 </ul>
</div>
<div class="horde_alliance_icon"></div>
</div>

<div class="quests">
<div class="quest_text">  
 <ul>
  <li><span class="line1">[51] - [<a href="https://pt.classic.wowhead.com/quest=7066/a-semente-da-vida"></a>]</span></li>
  <li>A missão inicia com <a href="https://pt.classic.wowhead.com/npc=12238"></a> último boss.</li>
 </ul>
</div>
<div class="horde_alliance_icon"></div>
</div>
</div>
 </section>	