  <script>var whTooltips = {colorLinks: true, iconizeLinks: true, renameLinks: true};</script>
  <script src="https://wow.zamimg.com/widgets/power.js"></script>
  <title>Ragefire Chasm</title>

 <section>

<div class="right_side">
   <div class="rs_top" id="ragefire_map">
     
   </div>
   <div class="rs_bottom">
     <ol>            
        <li><span>Nome:</span> Ragefire Chasm</li>
        <li><span>Nível:</span> 12 - 18</li>
        <li><span>Local:</span> Kalimdor, Orgrimmar.</li>
     </ol>
   </div>

</div>  

<div class="body" id="ragefire_bg">
    <ol>            
      <li>Missões para fazer em Ragefire Chasm.</li>            
    </ol>

<div class="quests">
 <div class="quest_text">
 <ul>
  <li><span class="line1">[16] - <a href="https://pt.classic.wowhead.com/quest=5730/hidden-enemies">Hidden Enemies</a></span></li>
  <li>A missão inicia com <a href="https://pt.classic.wowhead.com/npc=3216">Neeru Fireblade</a> em Orgrimmar</li>
  <li>A missão faz parte de uma chain que inicia com <a href="https://pt.classic.wowhead.com/npc=4949">Thrall</a> em Orgrimmar</li>
 </ul>
</div>
<div class="horde_icon"></div>
</div> 

<div class="quests">
<div class="quest_text">	
 <ul>
  <li><span class="line1">[15] - [<a href="https://pt.classic.wowhead.com/quest=5723/testing-an-enemys-strength">Testing an Enemies Strength</a>]</span></li>
  <li>A missão inicia com <a href="https://pt.classic.wowhead.com/npc=11833">Rahuro</a> em Penhasco do Trovão.</li>  
 </ul>
</div>
<div class="horde_icon"></div>
</div>

<div class="quests">
<div class="quest_text">	
 <ul>
  <li><span class="line1">[16] - [<a href="https://pt.classic.wowhead.com/quest=5722/searching-for-the-lost-satchel">Searching for the lost Satchel</a>]</span></li>
  <li>A missão inicia com <a href="https://pt.classic.wowhead.com/npc=11833">Rahuro</a> em Penhasco do Trovão.</li>
 </ul>
</div>
<div class="horde_icon"></div>
</div>

<div class="quests">
<div class="quest_text">	
 <ul>
  <li><span class="line1">[16] - [<a href="https://pt.classic.wowhead.com/quest=5761/slaying-the-beast">Slaying the Beast</a>]</span></li>
  <li>A missão inicia com <a href="https://pt.classic.wowhead.com/npc=3216">Neeru Fireblade</a> em Orgrimmar.</li>
 </ul>
</div>
<div class="horde_icon"></div>
</div>

<div class="quests">
<div class="quest_text">	
 <ul>
  <li><span class="line1">[16] - [<a href="https://pt.classic.wowhead.com/quest=5725/the-power-to-destroy">The Power to Destroy</a>]</span></li>
  <li>A missão inicia com <a href="https://pt.classic.wowhead.com/npc=2425">Varimathras</a> em Cidade Baixa.</li>
 </ul>
</div>
<div class="horde_icon"></div>
</div>
</div>
 </section>