  <script>var whTooltips = {colorLinks: true, iconizeLinks: true, renameLinks: true};</script>
  <script src="https://wow.zamimg.com/widgets/power.js"></script>
  <title>Razorfen Kraul</title>

 <section>

<div class="right_side">
   <div class="rs_top" id="razorfenk_map">
     
   </div>
   <div class="rs_bottom">
     <ol>            
        <li><span>Nome:</span> Razorfen Kraul (Urzal dos Tuscos)</li>
        <li><span>Nível:</span> 23 - 33</li>
        <li><span>Local:</span> Kalimdor, Sertões.</li>
     </ol>
   </div>
</div>
<div class="body" id="razorfenk_bg">
       <ol>            
          <li>Missões para fazer em: Urzal dos Tuscos.</li>            
       </ol>

<div class="quests">
 <div class="quest_text">
 <ul>
  <li><span class="line1">[34] - <a href="https://pt.classic.wowhead.com/quest=1102/um-destino-vingativo"></a></span></li>
  <li>A missão inicia com <a href="https://pt.classic.wowhead.com/npc=4451"></a> em Penhasco do Trovão.</li>  
 </ul>
</div>
<div class="horde_icon"></div>
</div> 

<div class="quests">
<div class="quest_text">	
 <ul>
  <li><span class="line1">[33] - [<a href="https://pt.classic.wowhead.com/quest=1109/mat%C3%A9ria-orgu%C3%A2nica"></a>]</span></li>
  <li>A missão inicia com <a href="https://pt.classic.wowhead.com/npc=2055"></a> em Cidade Baixa.</li>  
 </ul>
</div>
<div class="horde_icon"></div>
</div>

<div class="quests">
<div class="quest_text">	
 <ul>
  <li><span class="line1">[34] - [<a href="https://pt.classic.wowhead.com/quest=1101/a-bruxa-m%C3%A1-do-urzal"></a>]</span></li>
  <li>A missão inicia com <a href="https://pt.classic.wowhead.com/npc=4048"></a> em Mil Agulhas.</li>
 </ul>
</div>
<div class="alliance_icon"></div>
</div>

<div class="quests">
<div class="quest_text">	
 <ul>
  <li><span class="line1">[30] - [<a href="https://pt.classic.wowhead.com/quest=1142/a-mortalidade-se-esvanece"></a>]</span></li>
  <li>A missão inicia com <a href="https://pt.classic.wowhead.com/npc=4510"></a> dentro da DG.</li>
 </ul>
</div>
<div class="alliance_icon"></div>
</div>

<div class="quests">
<div class="quest_text">	
 <ul>
  <li><span class="line1">[26] - [<a href="https://pt.classic.wowhead.com/quest=1221/tub%C3%A9rculos-folhazul"></a>]</span></li>
  <li>A missão inicia com <a href="https://pt.classic.wowhead.com/npc=3446"></a> em Vila Catraca.</li>
 </ul>
</div>
<div class="horde_allieance_icon"></div>
</div>

<div class="quests">
<div class="quest_text">  
 <ul>
  <li><span class="line1">[30] - [<a href="https://pt.classic.wowhead.com/quest=1144/importador-willix"></a>]</span></li>
  <li>A missão inicia com <a href="https://pt.classic.wowhead.com/npc=4508"></a> dentro da DG.</li>
 </ul>
</div>
<div class="horde_alliance_icon"></div>
</div>
</div>
 </section>