  <script>var whTooltips = {colorLinks: true, iconizeLinks: true, renameLinks: true};</script>
  <script src="https://wow.zamimg.com/widgets/power.js"></script>
  <title>The Scarlet Monastery</title>

 <section>

<div class="right_side">
   <div class="rs_top" id="monastery_map">
     
   </div>
   <div class="rs_bottom">
     <ol>            
        <li><span>Nome:</span> The Scarlet Monastery (Monastério Escarlate)</li>
        <li><span>Nível:</span> 28 - 42</li>
        <li><span>Local:</span> Reinos do Leste, Clareiras de Tirisfal.</li>
     </ol>
   </div>
</div>
<div class="body" id="monastery_bg">
       <ol>            
          <li>Missões para fazer em: Monastério Escarlate.</li>            
       </ol>

<div class="quests">
 <div class="quest_text">
 <ul>
  <li><span class="line1">[42] - [<a href="https://pt.classic.wowhead.com/quest=1048/adentrando-o-monast%C3%A9rio-escarlate"></a>]</span></li>
  <li>A missão inicia com <a href="https://pt.classic.wowhead.com/npc=2425"></a> em Cidade Baixa.</li>
 </ul>
</div>
<div class="horde_icon"></div>
</div> 

<div class="quests">
<div class="quest_text">  
 <ul>
  <li><span class="line1">[33] - <a href="https://pt.classic.wowhead.com/quest=1113/cora%C3%A7%C3%B5es-do-fanatismo"></a></span></li>
  <li>A missão inicia com <a href="https://pt.classic.wowhead.com/npc=2055"></a> em Cidade Baixa.</li>
 </ul>
</div>
<div class="horde_icon"></div>
</div>

<div class="quests">
<div class="quest_text">  
 <ul>
  <li><span class="line1">[38] - [<a href="https://pt.classic.wowhead.com/quest=1049/o-comp%C3%AAndio-dos-ca%C3%ADdos"></a>]</span></li>
  <li>A missão inicia com <a href="https://pt.classic.wowhead.com/npc=3978"></a> em Penhasco do Trovão.</li>
 </ul>
</div>
<div class="horde_icon"></div>
</div>

<div class="quests">
<div class="quest_text">  
 <ul>
  <li><span class="line1">[36] - <a href="https://pt.classic.wowhead.com/quest=1160/teste-de-saber"></a></span></li>
  <li>A missão inicia com <a href="https://pt.classic.wowhead.com/npc=4488"></a> em Contraforte de Eira dos Montes.</li>
  <li>A missão faz parte de uma chain <a href="https://pt.classic.wowhead.com/quest=1149/teste-da-f%C3%A9"></a> que inicia com <a href="https://pt.classic.wowhead.com/npc=2986"></a> em Mil Agulhas.</li>
 </ul>
</div>
<div class="horde_icon"></div>
</div>

<div class="quests">
<div class="quest_text">  
 <ul>
  <li><span class="line1">[40] - [<a href="https://pt.classic.wowhead.com/quest=1053/em-nome-da-luz"></a>]</span></li>
  <li>A missão inicia com <a href="https://pt.classic.wowhead.com/npc=3980"></a> em Contraforte de Eira dos Montes.</li>
  <li>A missão faz parte de uma chain <a href="https://classic.wowhead.com/quest=6141/brother-anton"></a> que inicia com <a href="https://classic.wowhead.com/npc=12336"></a> em VentoBravo.</li>
 </ul>
</div>
<div class="alliance_icon"></div>
</div>

<div class="quests">
<div class="quest_text">  
 <ul>
  <li><span class="line1">[38] - [<a href="https://pt.classic.wowhead.com/quest=1050/mitologia-dos-tit%C3%A3s"></a>]</span></li>
  <li>A missão inicia com <a href="https://pt.classic.wowhead.com/npc=3979"></a> em AltaForja.</li>
 </ul>
</div>
<div class="alliance_icon"></div>
</div>

<div class="quests">
<div class="quest_text">  
 <ul>
  <li><span class="line1">[33] - [<a href="https://pt.classic.wowhead.com/quest=1051/a-vingan%C3%A7a-de-vorrel"></a>]</span></li>
  <li>A missão inicia com <a href="https://pt.classic.wowhead.com/npc=3981"></a> dentro da DG.</li>
 </ul>
</div>
<div class="horde_icon"></div>
</div>
</div>
 </section> 
</body>
</html>