  <script>var whTooltips = {colorLinks: true, iconizeLinks: true, renameLinks: true};</script>
  <script src="https://wow.zamimg.com/widgets/power.js"></script>
  <title>Templo de Atal'Hakkar</title>

 <section>

<div class="right_side">
   <div class="rs_top" id="atal_map">
     
   </div>
   <div class="rs_bottom">
     <ol>            
        <li><span>Nome:</span> Templo de Atal'Hakkar</li>
        <li><span>Nível:</span> 46 - 53</li>
        <li><span>Local:</span> Reinos do Leste, Pântano das Mágoas.</li>
     </ol>
   </div>
</div>
<div class="body" id="atal_bg">
       <ol>            
          <li>Missões para fazer em: Templo de Atal'Hakkar.</li>            
       </ol>

<div class="quests">
 <div class="quest_text">
 <ul>
  <li><span class="line1">[53] - [<a href="https://pt.classic.wowhead.com/quest=1446/jammalan-o-profeta"></a>]</span></li>
  <li>A missão inicia com <a href="https://pt.classic.wowhead.com/npc=5598"></a> em Terras Agrestes.</li>  
 </ul>
</div>
<div class="horde_alliance_icon"></div>
</div> 

<div class="quests">
<div class="quest_text">	
 <ul>
  <li><span class="line1">[51] - [<a href="https://pt.classic.wowhead.com/quest=3446/nas-profundezas"></a>]</span></li>
  <li>A missão inicia com <a href="https://pt.classic.wowhead.com/npc=7771"></a> em Tanaris.</li>
  <li>A missão faz parte de uma chain <a href="https://pt.classic.wowhead.com/quest=3445/the-sunken-temple"></a> que inicia com <a href="https://pt.classic.wowhead.com/npc=7900"></a> em Feralas para a aliança e com <a href="https://pt.classic.wowhead.com/npc=8115"></a> em Feralas para a horda.</li>
 </ul>
</div>
<div class="horde_alliance_icon"></div>
</div>

<div class="quests">
<div class="quest_text">	
 <ul>
  <li><span class="line1">[51] - [<a href="https://pt.classic.wowhead.com/quest=3447/segredo-do-c%C3%ADrculo"></a>]</span></li>
  <li>A missão inicia com <a href="https://pt.classic.wowhead.com/npc=7771"></a> em Tanaris.</li>
  <li>A missão faz parte de uma chain <a href="https://pt.classic.wowhead.com/quest=3444/the-stone-circle"></a> que inicia com <a href="https://pt.classic.wowhead.com/npc=7771"></a></li>
 </ul>
</div>
<div class="horde_alliance_icon"></div>
</div>

<div class="quests">
<div class="quest_text">	
 <ul>
  <li><span class="line1">[53] - [<a href="https://pt.classic.wowhead.com/quest=3528/o-deus-hakkar"></a>]</span></li>
  <li>A missão inicia com <a href="https://pt.classic.wowhead.com/npc=8579"></a> em Tanaris.</li>
  <li>A missão faz parte de uma chain <a href="https://pt.classic.wowhead.com/quest=3520/esp%C3%ADritos-guinchadores"></a> que inicia com <a href="https://pt.classic.wowhead.com/npc=8579"></a> em Tanaris.</li>
 </ul>
</div>
<div class="horde_alliance_icon"></div>
</div>

<div class="quests">
<div class="quest_text">	
 <ul>
  <li><span class="line1">[55] - [<a href="https://pt.classic.wowhead.com/quest=3373/a-ess%C3%AAncia-de-er%C3%A2nicos"></a>]</span></li>
  <li>Drop do último boss.</li>
 </ul>
</div>
<div class="horde_alliance_icon"></div>
</div>

<div class="quests">
<div class="quest_text">  
 <ul>
  <li><span class="line1">[50] - [<a href="https://pt.classic.wowhead.com/quest=1445/the-temple-of-atalhakkar"></a>]</span></li>
  <li>A missão inicia com <a href="https://pt.classic.wowhead.com/npc=1443"></a> em Pantano das Mágoas.</li>
  <li>A missão faz parte de uma chain <a href="https://pt.classic.wowhead.com/quest=1424"></a> que inicia com <a href="https://pt.classic.wowhead.com/npc=1443"></a> em Pantano das Magoas.</li>
 </ul>
</div>
<div class="horde_icon"></div>
</div>

<div class="quests">
<div class="quest_text">  
 <ul>
  <li><span class="line1">[50] - [<a href="https://pt.classic.wowhead.com/quest=1475/into-the-temple-of-atalhakkar"></a>]</span></li>
  <li>A missão inicia com <a href="https://pt.classic.wowhead.com/npc=5384"></a></li>
  <li>A missão faz parte de uma chain <a href="https://pt.classic.wowhead.com/quest=1469/rhapsodys-tale"></a> que inicia com <a href="https://pt.classic.wowhead.com/npc=5634"></a> em Hinterlands.</li>
 </ul>
</div>
<div class="alliance_icon"></div>
</div>
</div>
 </section>