  <script>var whTooltips = {colorLinks: true, iconizeLinks: true, renameLinks: true};</script>
  <script src="https://wow.zamimg.com/widgets/power.js"></script>
  <title>The Stokade</title>

<section>

<div class="right_side">
   <div class="rs_top" id="stockade_map">
     
   </div>
   <div class="rs_bottom">
     <ol>            
        <li><span>Nome:</span> The Stockade (O Cárcere)</li>
        <li><span>Nível:</span> 21 - 27</li>
        <li><span>Local:</span> Reinos do Leste, Ventobravo.</li>
     </ol>
   </div>

</div>  

<div class="body" id="stockade_bg">
  <ol>            
     <li>Missões para fazer em: O Carcere.</li>
  </ol>
<div class="quests">
 <div class="quest_text">
 <ul>  
  <li><span class="line1">[26] - [<a href="https://pt.classic.wowhead.com/quest=377/crime-and-punishment">Crime and Punishment</a>]</span></li>  
  <li>A missão inicia com <a href="https://pt.classic.wowhead.com/npc=270">Councilman Millstipe</a> em Floresta do Crepúsculo.</li>
 </ul>
</div>
<div class="alliance_icon"></div>
</div> 

<div class="quests">
<div class="quest_text">	
 <ul>
  <li><span class="line1">[26] - [<a href="https://pt.classic.wowhead.com/quest=387/quell-the-uprising">Quell the Uprising</a>]</span></li>
  <li>A missão inicia com <a href="https://pt.classic.wowhead.com/npc=1719">Warden Thelwater</a> em Ventobravo.</li>  
 </ul>
</div>
<div class="alliance_icon"></div>
</div>

<div class="quests">
<div class="quest_text">	
 <ul>
  <li><span class="line1">[26] - [<a href="https://pt.classic.wowhead.com/quest=388/the-color-of-blood">The Color of Blood</a>]</span></li>
  <li>A missão inicia com <a href="https://pt.classic.wowhead.com/npc=1721">Nikova Raskol</a> em Ventobravo.</li>  
 </ul>
</div>
<div class="alliance_icon"></div>
</div>

<div class="quests">
<div class="quest_text">	
 <ul>
  <li><span class="line1">[27] - <a href="https://pt.classic.wowhead.com/quest=378/the-fury-runs-deep">The Fury Runs Deep</a></span></li>
  <li>A missão inicia com <a href="https://pt.classic.wowhead.com/npc=1074">Motley Thelwater</a> em Ventobravo.</li>
  <li>A missão faz parte de uma chain <a href="https://pt.classic.wowhead.com/quest=303/the-dark-iron-war">.</a></li>
 </ul>
</div>
<div class="alliance_icon"></div>
</div>

<div class="quests">
<div class="quest_text">	
 <ul>
  <li><span class="line1">[29] - <a href="https://pt.classic.wowhead.com/quest=391/the-stockade-riots">The Stockade Riots</a></span></li>
  <li>A missão inicia com <a href="https://pt.classic.wowhead.com/npc=1719">Warden Thelwater</a> em Ventobravo.</li>
  <li>A chain inicia com drop de <a href="https://pt.classic.wowhead.com/item=2874/an-unsent-letter"></a> boss de Deadmines <a href="https://classic.wowhead.com/npc=639">Edwin Vancleef</a>.</a></li>
 </ul>
</div>
<div class="alliance_icon"></div>
</div>

<div class="quests">
<div class="quest_text">
 <ul>
  <li><span class="line1">[25] - [<a href="https://pt.classic.wowhead.com/quest=386/what-comes-around">What Comes Arround</a>]</span></li>
  <li>A missão inicia com <a href="https://pt.classic.wowhead.com/npc=859">Guard Berton</a> em Montanhas Cristarrubra.</li>  
 </ul>
</div>
<div class="alliance_icon"></div>
</div>

</section>	
