<!DOCTYPE html>
<html>
  <head>
    <title>WoWClassicOnRails</title>
    <%= csrf_meta_tags %>
    <html lang="pt-br">
      <script>var whTooltips = {colorLinks: true, iconizeLinks: true, renameLinks: true};</script>
      <script src="https://wow.zamimg.com/widgets/power.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	
    <%= yield %>
  </body>
</html>
